<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Lets see today`s currency rates</h1>
<p th:text="'Today we are ' + ${tag} + '!'" />
<img th:src="@{${gifUrl}}"/>

<p>Click <a th:href="@{/history}">here</a> to see a request history.</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>